#footer {
    padding: 10px 5px;
    display: flex;
    justify-content: center;
    background-color: #dee0ea;
    color: #5f5e5e;

    a {
        font-weight: 600;
        text-decoration: none;
    }
}